body {
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% auto;
    background-color: #e6f2ff;
}
